<th:block>
    <th:block sec:authorize="isAnonymous()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
            <a class="navbar-brand" th:href="@{/}">🅱🆄🅳🅶🅴🆃</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#guestNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="guestNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/login}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
    <th:block sec:authorize="isAuthenticated()">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold">
            <a class="navbar-brand" th:href="@{/home}">🅱🆄🅳🅶🅴🆃</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="userNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profits/all}">Profits</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/expenses/all}">Expenses</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/pereodicinc/all}">PerInc</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/pereodcost/all}">PerCost</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profits/add}">Add Pro</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/expenses/add}">Add Exp</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/pereodicinc/add}">Add Per In</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/pereodcost/add}">Add Per Co</a>
                    </li>
                    <li class="nav-item active">
                        <form action="/logout?login" method="post">
                            <button class="logout-button nav-link">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>
</th:block>